<module xmlns="urn:jboss:module:1.1" name="org.openshift.ping">

    <resources>
        <resource-root path="openshift-ping-common-1.2.5.Final.jar"/>
        <resource-root path="openshift-ping-dns-1.2.3.Final-redhat-1.jar"/>
        <resource-root path="openshift-ping-kube-1.2.5.Final.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jgroups"/>
        <module name="org.jboss.dmr"/>
        <module name="io.undertow.core"/>
        <module name="net.oauth.core"/>
    </dependencies>
</module>
